<div class= "header">
	<div class = "container">
		<div class="row">
			<span class="three columns">
				<%= link_to home_path do%>
					<img src=<%=asset_path("lm_logo2.png")%> class= "logo">
				<%end%>
			</span>

        <span class="offset-by-five four columns">

				  <% if current_user %>
			      <%= link_to "Dashboard", dashboard_path, class: "button right" %>
			      <%= link_to "Logout", logout_path, class: "button-simple right" %>
			    <% else %>
			      <%= link_to "Get Started", new_user_registration_path, class: "button right" %>
			      <%= link_to "Sign in", new_user_session_path, class: "button-simple right" %>
			    <% end %>
			  </span>
			</div>
		</div>
  </div>
</div>