<div class = "notifications">
			<div class = "notifications__body">			
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 5 new messages that need a response.</p>
						<footer class="card-footer">
							<%= link_to "Sleep", "#", class:"card-footer__item dash_link" %>
							<%= link_to "Respond", "#", class:"card-footer__item dash_link2" %>							
						</footer>
					</div>				
				</div>
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 3 new potential students.</p>			
						<footer class="card-footer">
							<%= link_to "Review", "#", class:"card-footer__item dash_link" %>
							<%= link_to "Accept", "#", class:"card-footer__item dash_button" %>	
						</footer>	
					</div>				
				</div>	
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 2 new comments.</p>
						<footer class="card-footer">
							<%= link_to "Close", "#", class:"card-footer__item dash_link" %>
							<%= link_to "View", "#", class:"card-footer__item dash_button" %>	
						</footer>
					</div>	
				</div>
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 3 new potential students.</p>
						<footer class="card-footer">
							<%= link_to "Ignore", "#", class:"card-footer__item dash_link" %>
							<%= link_to "Continue", "#", class:"card-footer__item dash_button" %>
						</footer>
					</div>				
				</div>			
			</div>
		</div>