<%= form_with model: @assessment do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <div class="field">
    <%= form.label :assessment_type %>
    <%= form.select(:assessment_type, [['Graded', 'Graded'], ['NonGraded', 'NonGraded']], :include_blank => "Please select")%>
  </div>
  <%= form.submit %>
  <%= button_to 'CANCEL', assessments_path %>
<% end %>