<div class = "container">
	
	<div class ="dashboard">
		
		<div id ="side-navigation">
			<nav class = "sidemenu">
				<ul class = "sidemenu-nav">
					<li>
						<%= link_to videos_path do %>
							<span class="material-icons-outlined md-34 md-light dash_icons">home</span>
						<%end%>
					</li>				
					<li>
						<%= link_to videos_path do %>
							<span class="material-icons md-34 md-light dash_icons">video_library</span>
						<%end%>
					</li>
					<li>
					<%= link_to videos_path do %>
					<span class="material-icons md-34 md-light dash_icons">chat_bubble</span>
					<%end%>
					</li>
				</ul>
			</nav>
		</div>
			
		
		<div id = "main">
			<div class = "main-content">
				<section id = "app_stats">
					<h6 class = "stat-title"> App Stats </h6>
					<div class = "body-content app-stats-body">
						<div class = "card app-stats-card">
							<div class ="card-content">
								<p class = "content stats-text"><%=@total_system_user%></p>						  
								<p class ="label users-label">Users</p>
							</div>
						</div>

						<div class = "card app-stats-card">
							<div class ="card-content">
								<div class="content circle">
          				<div class="bar"></div>
          				<div class="box"><span></span></div>
        				</div>	
							</div>									
						</div>
						<div class = "card app-stats-card">
								<div class ="card-content">
									<img src = <%=asset_path("sun_icon.png")%> >
									<p class = "content day-text"><%=@most_active_day_week%></p>
									<p class ="label most-active-label">Most Active Day</p>
								</div>
						</div>
						<div class = "card app-stats-card">
							<div class ="card-content">
						  	<p class = "content watch-views"><%=@video_watched_count%></p>
								<p class ="label watch-label">Watched Videos</p>
							</div>						
						</div>
					</div>
				</section>


				<section id = "top_videos">
					<h6 class = "stat-title">Top Videos</h6>
					<div class = "body-content top-videos-body">
						<div class = "tn-scroll-outer-container">
							
								<div class ="thumbnail">
						  		<img class = "thumbnail-image" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
									<div class = thumbnail-overlay>
						  			<div class = "video-views-text">112</div>
									</div>
								</div>
								<div class ="thumbnail">
						  		<img class = "thumbnail-image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  		<div class = thumbnail-overlay>
						  			<div class = "video-views-text" >112</div>
									</div>
								</div>
								<div class ="thumbnail">
						  		<img class = "thumbnail-image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  		<div class = thumbnail-overlay>
						  			<div class = "video-views-text" >112</div>
									</div>
								</div>	
						</div>							
					</div>
				</section>


				<section id = "my_channel_view">
					<h6 class = "stat-title">My Channel</h6>
					<div class = "body-content my-channel-view-body">
						<div class ="thumbnail">
						  <img class = "thumbnail-image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  <div class = thumbnail-overlay>
						  	<div class = "video-views-text" >112</div>
							</div>
						</div>
						<div class ="thumbnail">
						  <img class = "thumbnail-image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  <div class = thumbnail-overlay>
						  	<div class = "video-views-text" >112</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div id = "notifications">
			<div class = "notifications-body">			
				<div class ="card notif-card">
					<div class ="card-content notif-card-content">
						<p class ="content notif-text"> You have 5 new messages that need a response.</p>
						<footer class="card-footer">
							<a href="#" class="card-footer-item dash_link ">Sleep</a>
      				<a href="#" class="card-footer-item dash_link2 ">Respond</a>
						</footer>
					</div>				
				</div>
				<div class ="card notif-card">
					<div class ="card-content notif-card-content">
						<p class ="content notif-text"> You have 3 new potential students.</p>
					
						<footer class="card-footer">
							<a href="#" class="card-footer-item dash_link ">Review</a>
      				<a href="#" class="card-footer-item dash_button ">Accept</a>
						</footer>	
					</div>				
				</div>	
				<div class ="card notif-card">
					<div class ="card-content notif-card-content">
						<p class ="content notif-text"> You have 2 new comments.</p>
						<footer class="card-footer">
							<a href="#" class="card-footer-item dash_link ">Close</a>
      				<a href="#" class="card-footer-item dash_button ">View</a>
					</div>
				</footer>				
				</div>
				<div class ="card notif-card">
					<div class ="card-content notif-card-content">
						<p class ="content notif-text"> You have 3 new potential students.</p>
						<footer class="card-footer">
							<a href="#" class="card-footer-item dash_link ">Ignore</a>
      				<a href="#" class="card-footer-item dash_button ">Continue</a>
						</footer>
					</div>				
				</div>			
			</div>
		</div>
	
	
	</div>	
</div>



<script type="text/javascript">

	var active_user_percent = parseInt("<%=@active_user_count%>") / parseInt("<%=@total_system_user%>")

  let options = {
    startAngle: -1.55,
    size: 80,
    value: active_user_percent, 
    fill: {gradient: ['#00e6c7', '#00f3b9']}					
  }

	$(".circle .bar").circleProgress(options).on('circle-animation-progress',
  function(event, progress, stepValue){
    $(this).parent().find("span").text(String((stepValue*100).toFixed(0)) + "%" + "\nActive");
  });     
</script>