<div class = "container">
	
	<div class ="dashboard dashboard--grid dashboard__bg-img">
		
		<div class ="sidemenu">
			<nav class = "sidemenu-nav">
				<ul class = "sidemenu-nav__list">
					<li class = "sidemenu-nav__list-item nav-item is-active">
							<a data-switcher data-tab ="1" class="material-icons-outlined md-34 md-light dash_icons">home</a>
					</li>				
					<li class = "sidemenu-nav__list-item nav-item">
							<a data-switcher data-tab ="2" class="material-icons md-34 md-light dash_icons">video_library</a>
					
					</li>
					<li class = "sidemenu-nav__list-item nav-item">
					<%= link_to videos_path do %>
					<span class="material-icons md-34 md-light dash_icons">chat_bubble</span>
					<%end%>
					</li>
				</ul>
			</nav>
		</div>
			
		
		<div class = "main">
			<div data-page = "1" class = "page is-active app-overview-page app-overview-page--grid">
				<section id = "app_stats">
					<h6 class = "section-title"> App Stats </h6>
					<div class = "body-content app-stats__body">
						<div class = "card app-stats__card">
							<div class ="card-content">
								<p class = "content stats-text"><%=@total_system_user%></p>						  
								<p class ="label users-label">Users</p>
							</div>
						</div>

						<div class = "card app-stats__card">
							<div class ="card-content">
								<div class="content circle">
          				<div class="bar"></div>
          				<div class="box"><span></span></div>
        				</div>	
							</div>									
						</div>
						<div class = "card app-stats__card">
								<div class ="card-content">
									<img src = <%=asset_path("sun_icon.png")%> >
									<p class = "content day-text"><%=@most_active_day_week%></p>
									<p class ="label most-active-label">Most Active Day</p>
								</div>
						</div>
						<div class = "card app-stats__card">
							<div class ="card-content">
						  	<p class = "content watch-views"><%=@video_watched_count%></p>
								<p class ="label watch-label">Watched Videos</p>
							</div>						
						</div>
					</div>
				</section>


				<section id = "top_videos" class = "top-videos-container">
					
					<h6 class = "section-title">Top Videos</h6>
					<div class = "body-content top-videos__body">
						
						<%# <div class = "top-videos__body-overlay">
							<button id="slideBack" type="button left-button">Prev</button>
    					<button id="slide" type="button right-button">Next</button>
						</div> %>
						
						<div id = "tn-scroll-outer-container" class = "tn-scroll-outer-container">
							<div class ="thumbnail">
								<img class = "thumbnail__image" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
						
						
							<div class ="thumbnail">
								<img class = "thumbnail__image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
						
							<div class ="thumbnail">
								<img class = "thumbnail__image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>	
						
						</div>
											
					</div>
							
				</section>


				<section id = "my_channel_view">
					<h6 class = "section-title">My Channel</h6>
					<div class = "body-content my-channel-view-body">
						<div class ="thumbnail">
						  <img class = "thumbnail__image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  <div class = "thumbnail__image--overlay">
								<p class = "thumbnail__image--overlay-text thumbnail-video-stat">Most Watched</p>
						  	<p class = "thumbnail__image--overlay-text thumbnail__video-views-count" >112</p>
								
							</div>
						</div>
						<div class ="thumbnail">
						  <img class = "thumbnail__image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  <div class = "thumbnail__image--overlay">
								<p class = "thumbnail__image--overlay-text thumbnail-video-stat">Most Recent</p>
						  	<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								<div class = "thumbnail__image--overlay-text thumbnail-video__details">
									<p class = "thumbnail-video__text thumbnail-video__title">This is a very very very long video title</p>
									<p class = "thumbnail-video__text thumbnail-video__author">Video author</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div data-page = "2" class = "page my-channel-page">
			
					<div class ="my-channel-body"> 
					<h6 class = "my-channel-header-text">My Channel</h6>
					<section id = "up_video">
						<div class = "up-video-body mc-grid-style">
							<div class = "upload-area"> Upload area Here</div>	
								
					
						</div>
							
					</section>
					<section id = "pub_videos">
						<h6 class = "section-title">Published Videos</h6>
						<div class = "body-content pub-videos-body mc-grid-style">
							<div class ="mc-thumbnail">
								<img class = "thumbnail__image" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
						</div>
					</section>
					<section id = "un_pub_videos">
						<h6 class = "section-title">Unpublished Videos</h6>
						<div class = "body-content un-pub-videos-body mc-grid-style">
							<div class ="mc-thumbnail">
								<img class = "thumbnail__image un-pub-img" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
							<div class ="mc-thumbnail">
								<img class = "thumbnail__image un-pub-img" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
							<div class ="mc-thumbnail">
								<img class = "thumbnail__image un-pub-img" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
							<div class ="mc-thumbnail">
								<img class = "thumbnail__image un-pub-img" src= <%=asset_path("lm_logo2.png")%> alt="Insert Video Thumbnail here">
								<div class = "thumbnail__image--overlay">
									<p class = "thumbnail__image--overlay-text thumbnail__video-views-count">112</p>
								</div>
							</div>
						
							
							
					</section>
					</div>
					
				</div> 
		</div>

		<div class = "notifications">
			<div class = "notifications__body">			
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 5 new messages that need a response.</p>
						<footer class="card-footer">
							<a href="#" class="card-footer__item dash_link ">Sleep</a>
      				<a href="#" class="card-footer__item dash_link2 ">Respond</a>
						</footer>
					</div>				
				</div>
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 3 new potential students.</p>
					
						<footer class="card-footer">
							<a href="#" class="card-footer__item dash_link ">Review</a>
      				<a href="#" class="card-footer__item dash_button ">Accept</a>
						</footer>	
					</div>				
				</div>	
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 2 new comments.</p>
						<footer class="card-footer">
							<a href="#" class="card-footer__item dash_link ">Close</a>
      				<a href="#" class="card-footer__item dash_button ">View</a>
					</div>
				</footer>				
				</div>
				<div class ="card notif-card">
					<div class ="card-content notif-card__content">
						<p class ="content notif-card__text"> You have 3 new potential students.</p>
						<footer class="card-footer">
							<a href="#" class="card-footer__item dash_link ">Ignore</a>
      				<a href="#" class="card-footer__item dash_button ">Continue</a>
						</footer>
					</div>				
				</div>			
			</div>
		</div>
	
	
	</div>	
</div>



<%# circular active user %>
<script type="text/javascript">

	var active_user_percent = parseInt("<%=@active_user_count%>") / parseInt("<%=@total_system_user%>")

  let options = {
    startAngle: -1.55,
    size: 80,
    value: active_user_percent, 
    fill: {gradient: ['#00e6c7', '#00f3b9']}					
  }

	$(".circle .bar").circleProgress(options).on('circle-animation-progress',
  function(event, progress, stepValue){
    $(this).parent().find("span").text(String((stepValue*100).toFixed(0)) + "%" + "\nActive");
  });     
</script>

<%# horizontal mouse scroll on top videos %>
<script>

	$( '.tn-scroll-outer-container' ).on( 'mousewheel', function ( e ) {
    var event = e.originalEvent,
        d = event.wheelDelta || -event.detail;
    
    this.scrollLeft += ( d < 0 ? 1 : -1 ) * 30;
    e.preventDefault();
});

</script>

<script></script>
<%# button scroll top-videos %>
<%# <script>
var button = document.getElementById('slide');
button.onclick = function () {
    var container = document.getElementById("tn-scroll-outer-container");
    sideScroll(container,'right',25,100,10);
};

var back = document.getElementById('slideBack');
back.onclick = function () {
    var container = document.getElementById("tn-scroll-outer-container");
    sideScroll(container,'left',25,100,10);
};

function sideScroll(element,direction,speed,distance,step){
    scrollAmount = 0;
    var slideTimer = setInterval(function(){
        if(direction == 'left'){
            element.scrollLeft -= step;
        } else {
            element.scrollLeft += step;
        }
        scrollAmount += step;
        if(scrollAmount >= distance){
            window.clearInterval(slideTimer);
        }
    }, speed);
}
</script> %>

<%# Page-switching %>
<script>
window.onload = function () {
    const tab_switchers = document.querySelectorAll('[data-switcher]');

    for (let i = 0; i < tab_switchers.length; i++) {
        const tab_switcher = tab_switchers[i];
        const page_id = tab_switcher.dataset.tab;

        tab_switcher.addEventListener('click', function () {
            document.querySelector('.sidemenu-nav__list-item.is-active').classList.remove('is-active');
            tab_switcher.parentNode.classList.add('is-active');

            SwitchPage(page_id);
        });
    }
}

function SwitchPage (page_id) {
    console.log(page_id);

    const current_page = document.querySelector('.main .page.is-active');
    current_page.classList.remove('is-active');

    const next_page = document.querySelector(`.main .page[data-page="${page_id}"]`);
    next_page.classList.add('is-active');
}
</script>
