<div class="container">
	<div class="dashboard dashboard--grid dashboard__bg-img">
		<%= render "shared_partials/sidemenu" %>
			
		<div class="main main--border">
			<div class="dashboard-home dashboard-home--grid">
				<section id="app-stats" class="dashboard__section">
					<h6 class="dashboard__section__title"> App Stats </h6>
					<div class="body__content app-stats__body">
						<div class="app-stats__card">
							<div class="app-stats__content">
								<p class="app-stats__text stats-text"><%= @total_system_user %></p>
								<p class="app-stats__label users-label">Users</p>
							</div>
						</div>
						<div class="app-stats__card">
							<div class="app-stats__content">
								<div class="circle">
          				<div class="circle__bar"></div>
          				<div class="box circle__text"><span class="circle__canvas"></span></div>
        				</div>
							</div>
						</div>
						<div class="app-stats__card">
								<div class="app-stats__content">
									<img class="app-stats__img" src = <%= asset_path("sun_icon.png") %> alt="Sun Icon" >
									<div class="app-stats__day-text">
										<p class="app-stats__text day-text"><%= @most_active_day_week %></p>
										<p class="app-stats__label most-active-label">Most Active Day</p>
									</div>
								</div>
						</div>
						<div class="app-stats__card">
							<div class="app-stats__content">
						  	<p class="app-stats__text stats-text"><%= @video_watched_count %></p>
								<p class="app-stats__label watch-label">Watched Videos</p>
							</div>
						</div>
					</div>
				</section>

				<section id="top-videos" class="dashboard__section top-videos__container">
					<h6 class="dashboard__section__title">Top Videos</h6>
					<div class="body__content top-videos__body">
						<div class="left-arrow">
							<div id="slideBack" class="left-arrow--style" alt = "Previous">
								<div class="left-arrow__button"> 
									<span class="material-icons">arrow_back_ios</span>
								</div>
							</div>
						</div>
						<div id="tn-scroll__container" class="tn-scroll__container">
							<% @top_3_watched_videos.each do |video| %> 
								<div class="thumbnail home-thumbnail">
									<% if video.thumbnail.attached? %>
						  				<%= image_tag(video.thumbnail, class: "thumbnail__img", alt: "Top Videos Thumbnail") %>  
									<% else %>
										 <span class="none_msg">no available image</span>
									<% end %>
						  		<div class="thumbnail__img--overlay">
										<p class="thumbnail__img--overlay__text thumbnail__video-views-count"><%= video.viewer_count %></p>
										<div class="thumbnail__img--overlay__text thumbnail-video__details">
											<p class="thumbnail-video__text thumbnail-video__title"><%= video.title %></p>
											<p class="thumbnail-video__text thumbnail-video__author"><%= video.author %></p>
										</div>
									</div>
								</div>
							<% end %>
						</div>
						<div id="right-arrow" class="right-arrow">
							<div id="slide" class="right-arrow--style" >
								<div class="right-arrow__button" alt = "Next"> 
								<span class="material-icons">arrow_forward_ios</span> 
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="my-channel-view" class="dashboard__section">
					<h6 class="dashboard__section__title">My Channel</h6>
					<div class="body__content my-channel-view__body">
						<% if @most_watched_video.nil? %>
							<div class="thumbnail home-thumbnail"></div>
							<%# <span class="none_msg">No Videos Available</span> %>
						<% else %>
							<div class="thumbnail home-thumbnail">
								<% if @most_watched_video.thumbnail.attached? %>
									<%= image_tag(@most_watched_video.thumbnail, class: "thumbnail__img", alt: "Most Watched Video") %>  
								<% else %>
									<span class="none_msg">no available image</span>
								<% end %>
									<div class="thumbnail__img--overlay">
										<p class="thumbnail__img--overlay__text thumbnail-video-stat">Most Watched</p>
										<p class="thumbnail__img--overlay__text thumbnail__video-views-count"><%= @most_watched_video.viewer_count %></p>
										<div class="thumbnail__img--overlay__text thumbnail-video__details">
											<p class="thumbnail-video__text thumbnail-video__title"><%= @most_watched_video.title %></p>
											<p class="thumbnail-video__text thumbnail-video__author"><%= @most_watched_video.author %></p>
										</div>
									</div>
							</div>
						<% end %>
						<% if @most_recent_video.nil? %>
							<div class="thumbnail home-thumbnail"></div>
							<%# <span class="none_msg">No Videos Available</span> %>
						<% else %>
							<div class="thumbnail home-thumbnail">
								<% if @most_recent_video.thumbnail.attached? %>
									<%= image_tag(@most_recent_video.thumbnail, class: "thumbnail__img", alt: "Most Recent Video") %>  
								<% else %>
									<span class="none_msg">no available image</span>
								<% end %>
								<div class="thumbnail__img--overlay">
									<p class="thumbnail__img--overlay__text thumbnail-video-stat">Most Recent</p>
									<p class="thumbnail__img--overlay__text thumbnail__video-views-count"><%= @most_recent_video.viewer_count %></p>
									<div class="thumbnail__img--overlay__text thumbnail-video__details">
										<p class="thumbnail-video__text thumbnail-video__title"><%= @most_recent_video.title %></p>
										<p class="thumbnail-video__text thumbnail-video__author"><%= @most_recent_video.author %></p>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</section>
			</div>
		</div>

		<%# <%= render "shared_partials/notifications" %>
			
	</div>	
</div>


<%# circular active user %>
<script type="text/javascript">

	var active_user_percent = parseInt("<%= @active_user_count %>") / parseInt("<%= @total_system_user %>")
	var circle_size = 90
  let options = {
    startAngle: -1.55,
    size: circle_size,
    value: active_user_percent, 
    fill: {gradient: ['#00e6c7', '#00f3b9']}					
  }

	$(".circle .circle__bar").circleProgress(options).on('circle-animation-progress',
  function(event, progress, stepValue){
    $(this).parent().find("span").text(String((stepValue*100).toFixed(0)) + "%" + "\nActive");
  });     
</script>

<%# horizontal mouse scroll on top videos %>
<script>

	$( '.tn-scroll__container' ).on( 'mousewheel', function ( e ) {
    var event = e.originalEvent,
        d = event.wheelDelta || -event.detail;
    
    this.scrollLeft += ( d < 0 ? 1 : -1 ) * 30;
    e.preventDefault();
});

</script>


<%# button scroll top-videos__body %>
<script>
var button = document.getElementById('slide');
button.onclick = function () {
    var container = document.getElementById("tn-scroll__container");
    sideScroll(container,'right',25,100,10);
};

var back = document.getElementById('slideBack');
back.onclick = function () {
    var container = document.getElementById("tn-scroll__container");
    sideScroll(container,'left',25,100,10);
};

function sideScroll(element,direction,speed,distance,step){
    scrollAmount = 0;
    var slideTimer = setInterval(function(){
        if(direction == 'left'){
            element.scrollLeft -= step;
        } else {
            element.scrollLeft += step;
        }
        scrollAmount += step;
        if(scrollAmount >= distance){
            window.clearInterval(slideTimer);
        }
    }, speed);
}

//hide navigation
$(document).ready(function () {
    $(function hideNavigation() {
        var scrollLeftPrev = 0;
        $('#tn-scroll__container').scroll(function () {
            var $elem=$('#tn-scroll__container');
            var newScrollLeft = $elem.scrollLeft(),
                width=$elem.width(),
                scrollWidth=$elem.get(0).scrollWidth;
            var offset=8;
            if (scrollWidth- newScrollLeft-width==offset) {
                alert('right end');
            }
            if (newScrollLeft === 0) {
                alert('left end');
            }
          
            scrollLeftPrev = newScrollLeft;

        });
    });


});



</script>


<%# navlink active %>
<script>
$(document).ready(function(){
   $(".active").removeClass("active");
   $("#dashboard-link").addClass("active");
});
</script>