<div class = "container">
	<div class ="dashboard dashboard--grid dashboard__bg-img">
		<%= render "shared_partials/sidemenu" %>
			
		<div class = "main">
			<div data-page="1" class = "page is-active app-overview-page app-overview-page--grid">
				<section id = "app_stats">
					<h6 class = "section-title"> App Stats </h6>
					<div class = "body-content app-stats__body">
						<div class = "card app-stats__card">
							<div class ="card-content">
								<p class = "dashboard-text content stats-text"><%=@total_system_user%></p>						  
								<p class ="dashboard-text label users-label">Users</p>
							</div>
						</div>
						<div class = "card app-stats__card">
							<div class ="card-content">
								<div class="content circle">
          				<div class="bar"></div>
          				<div class="box"><span></span></div>
        				</div>	
							</div>									
						</div>
						<div class = "card app-stats__card">
								<div class ="card-content">
									<img src = <%=asset_path("sun_icon.png")%> >
									<p class = "content day-text"><%=@most_active_day_week%></p>
									<p class ="label most-active-label">Most Active Day</p>
								</div>
						</div>
						<div class = "card app-stats__card">
							<div class ="card-content">
						  	<p class = "content watch-views"><%=@video_watched_count%></p>
								<p class ="label watch-label">Watched Videos</p>
							</div>						
						</div>
					</div>
				</section>

				<section id = "top_videos" class = "top-videos-container">
					<h6 class = "section-title">Top Videos</h6>
					<div class = "body-content top-videos__body">
						<div class="left-arrow">
							<div id="slideBack" class = "left-arrow--style" alt = "Previous">
								<div class="left-arrow__button"> 
									<span class="material-icons">arrow_back_ios</span>
								</div>
							</div>
						</div>			
						<div id = "tn-scroll-outer-container" class = "tn-scroll-outer-container">
							<% @top_3_watched_videos.each do |video| %> 
								<div class ="thumbnail">
									<% if video.thumbnail.attached? %>
						  				<%= image_tag(video.thumbnail.service_url, class: "thumbnail__image") %>  
									<% else %>
										<span>no available image</span>
									<% end %>
						  		<div class = "thumbnail__image--overlay">
										<p class = "thumbnail__image--overlay-text thumbnail__video-views-count"><%= video.viewer_count %></p>
										<div class = "thumbnail__image--overlay-text thumbnail-video__details">
											<p class = "thumbnail-video__text thumbnail-video__title"><%= video.title %></p>
											<p class = "thumbnail-video__text thumbnail-video__author"><%= video.author %></p>
										</div>
									</div>
								</div>						
							<%end%>			
						</div>
						<div id = "right-arrow" class="right-arrow">
							<div id="slide" class = "right-arrow--style" >
								<div class="right-arrow__button" alt = "Next"> 
								<span class="material-icons">arrow_forward_ios</span> 
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id = "my_channel_view">
					<h6 class = "section-title">My Channel</h6>
					<div class = "body-content my-channel-view-body">
						<div class ="thumbnail">
						  <img class = "thumbnail__image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  <div class = "thumbnail__image--overlay">
								<p class = "thumbnail__image--overlay-text thumbnail-video-stat">Most Watched</p>
						  	<p class = "thumbnail__image--overlay-text thumbnail__video-views-count" >112</p>
								<div class = "thumbnail__image--overlay-text thumbnail-video__details">
									<p class = "thumbnail-video__text thumbnail-video__title">This is a very very very long video title</p>
									<p class = "thumbnail-video__text thumbnail-video__author">Video author</p>
								</div>
							</div>
						</div>
						<div class ="thumbnail">
						  <img class = "thumbnail__image" src= <%=asset_path("the_man.jpg")%> alt="Insert Video Thumbnail here">
						  <div class = "thumbnail__image--overlay">
								<p class = "thumbnail__image--overlay-text thumbnail-video-stat">Most Watched</p>
						  	<p class = "thumbnail__image--overlay-text thumbnail__video-views-count" >112</p>
								<div class = "thumbnail__image--overlay-text thumbnail-video__details">
									<p class = "thumbnail-video__text thumbnail-video__title">This is a very very very long video title</p>
									<p class = "thumbnail-video__text thumbnail-video__author">Video author</p>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>

			
		</div>

		<%= render "shared_partials/notifications" %>

			
	</div>	
</div>



<%# circular active user %>
<script type="text/javascript">

	var active_user_percent = parseInt("<%=@active_user_count%>") / parseInt("<%=@total_system_user%>")

  let options = {
    startAngle: -1.55,
    size: 80,
    value: active_user_percent, 
    fill: {gradient: ['#00e6c7', '#00f3b9']}					
  }

	$(".circle .bar").circleProgress(options).on('circle-animation-progress',
  function(event, progress, stepValue){
    $(this).parent().find("span").text(String((stepValue*100).toFixed(0)) + "%" + "\nActive");
  });     
</script>

<%# horizontal mouse scroll on top videos %>
<script>

	$( '.tn-scroll-outer-container' ).on( 'mousewheel', function ( e ) {
    var event = e.originalEvent,
        d = event.wheelDelta || -event.detail;
    
    this.scrollLeft += ( d < 0 ? 1 : -1 ) * 30;
    e.preventDefault();
});

</script>


<%# button scroll top-videos__body %>
<script>
var button = document.getElementById('slide');
button.onclick = function () {
    var container = document.getElementById("tn-scroll-outer-container");
    sideScroll(container,'right',25,100,10);
};

var back = document.getElementById('slideBack');
back.onclick = function () {
    var container = document.getElementById("tn-scroll-outer-container");
    sideScroll(container,'left',25,100,10);
};

function sideScroll(element,direction,speed,distance,step){
    scrollAmount = 0;
    var slideTimer = setInterval(function(){
        if(direction == 'left'){
            element.scrollLeft -= step;
        } else {
            element.scrollLeft += step;
        }
        scrollAmount += step;
        if(scrollAmount >= distance){
            window.clearInterval(slideTimer);
        }
    }, speed);
}
</script>

<script>
$(document).ready(function(){
   $(".active").removeClass("active");
   $("#dashboard-link").addClass("active");
});
</script>