<p>
  <strong>Title:</strong>
  <%= @training_module.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @training_module.description %>
</p>


  <% render 'comments/form' %>
<%= link_to 'Edit', edit_training_module_path(@training_module) %>
<%= link_to 'Back', training_modules_path %>
<%= link_to 'Destroy', training_module_path(@training_module),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<div>
	<span class="button">Add a comment</span>
<% if @training_module.comments.count > 0%>
  	<%= render @training_module.comments %>
 <% end %>
</div>