<%= form_with model: article, url: "/article", local: true, multipart: true do |form| %>
    <%# <% if video.errors.any?   Validation here   <%end%>
      <div class="row upload-video-view">
        <div class="twelve columns video-form">
          <div class="video-form-container control">
            <div class="video-details">
              <%= form.label :title, class:"label upload-video-text-style"%>
              <%= form.text_field :title, class: "manage-channel-box" %>
              
              <%= form.label :excerpt, class:"label upload-video-text-style"%>
              <%= form.text_field :excerpt, class: "manage-channel-box" %>

              <%= form.label :description, class:"label upload-video-text-style"%>
              <%= form.text_area :description, class: "manage-channel-box description-box" %>
              
              <%= form.label :content, class:"label upload-video-text-style"%>
              <%= form.text_area :content, class: "manage-channel-box description-box" %>

            </div>
          </div>
        </div>
          
      </div>
      <div class="row">
        <div class="button-area">
        <%= link_to "Cancel", dashboard_path, class:"button btn-transp btn-style btn-text" %>
        <%= form.submit "Save", class:"button btn-style btn-text " %>              
        </div>
      </div>
      
    </div>	
  <% end %>

<script>
//adds event listener to the file uploader button
document.querySelector("#video-upload-button").addEventListener("click", () => {
  //clicks on the file input
  document.querySelector("#hidden-upload").click();
});

//adds event listener on the hidden file input to listen for any changes
document.querySelector("#hidden-upload").addEventListener("change", (event) => {
  //gets the file name
  document.querySelector("#upload-name").value = event.target.files[0].name;
});

</script>

<%# //video-image %>

<script>
//adds event listener to the file uploader button
document.querySelector("#vi-upload-button").addEventListener("click", () => {
  //clicks on the file input
  document.querySelector("#vi-hidden-upload").click();
});

//adds event listener on the hidden file input to listen for any changes
document.querySelector("#vi-hidden-upload").addEventListener("change", (event) => {
  //gets the file name
  document.querySelector("#vi-upload-name").value = event.target.files[0].name;
});

</script>

<script>
//adds event listener to the file uploader button
document.querySelector("#si-upload-button").addEventListener("click", () => {
  //clicks on the file input
  document.querySelector("#si-hidden-upload").click();
});

//adds event listener on the hidden file input to listen for any changes
document.querySelector("#si-hidden-upload").addEventListener("change", (event) => {
  //gets the file name
  document.querySelector("#si-upload-name").value = event.target.files[0].name;
});

</script>



