<h2>Log in devise</h2>
<%= form_tag new_user_session_path do %>
    <%= text_field_tag 'user[email]' %>
    <%= password_field_tag 'user[password]' %>
    <%=  submit_tag 'Login' %>
<% end %>

<%= render "devise/shared/links" %>
